.card {
    background-color: white; 
    border-radius: 25px; 
    box-shadow: 5px 5px rgb(187, 187, 187); 
    padding: 5%; 
    margin: 5%;
}

.Explanation {
    font-weight: normal;
    font-size: normal;
}

.titleAndDate {
    justify-content: space-between;
    display: flex;
    color: black;
    font-weight: bold;
    font-size: x-large;
}

.image {
    width: 100%;
}

.video {
    width: 100%; 
    height: 50vw;
}

.button {
    background-color: transparent;
    border: 0;
    text-align: left;
}

.button svg * {
    fill: url(#rg);
}

.heartIcon {
    font-size: 3rem;
    left: 0%;
    text-align: left;
}

.fadeOut {
    opacity:0;
    transition: opacity 0.5s;
}
.fadeIn {
    opacity:1;
    transition: opacity 0.5s;
}

.overlap {
    position: absolute;
    z-index: 5;
    left: 14.5%;
}

.likeText {
    background: -webkit-linear-gradient(90deg, #fdf497 5%, #fd5949 30%, #d6249f 60%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.emptyText {
    color: white;
    background-color: transparent;
}